<header>
	<img src="/assets/img/hamburger.png" width="350px">
	<h1>Eat-A-Burger</h1>
</header>

<div class="main-container">
	<div class="container">
		<div class="row">
			<div class="col s6">
				{{#each burgers}}
					{{#unless this.devoured}}
						<div>
							<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
								{{this.burger_name}}
								<button type="submit" class="btn">Devour it!</button>
							</form>
						</div>
					{{/unless}}
				{{/each}}
			</div>

			<div class="col s6">
				{{#each burgers}}
					{{#if this.devoured}}
						<div class="devoured">
							<div>
								{{this.burger_name}}
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<form action="/burgers" method="POST">
			<input type="text" id="name" name="burger_name"  placeholder="Enter a new burger you would like to eat!">
			<button type="submit" class="btn">Add to Menu!</button>

		</form>
	</div>
</div>